@using OMS.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutOuter.cshtml";
    ViewBag.Title = "Sign in";
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal templatemo-signin-form", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(m => m.Username, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username", @autofocus = "" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.RememberMe) @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Sign in" class="btn btn-default" />
            </div>
        </div>
    </div>
    @* Enable this once you have account confirmation enabled for password reset functionality
        <p>
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </p>*@
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}