<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>@ViewBag.Title - Office Management System</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width">
    <link href="http://fonts.googleapis.com/css?family=Open Sans:300,400,700" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <div class="logo"><h1>Office Management System</h1></div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
    <div class="template-page-wrapper">
        <div class="navbar-collapse collapse templatemo-sidebar">
            @Html.Partial("_NavigationPartial")
        </div><!--/.navbar-collapse -->

        <div class="templatemo-content-wrapper">
            <div class="templatemo-content">
                @RenderBody()
            </div>
        </div>
        <footer class="templatemo-footer">
            <div class="templatemo-copyright">
                <p>Copyright &copy; @DateTime.Now.Year Rohit Kumar Mighwal</p>
            </div>
        </footer>
    </div>

    <!-- modal placeholder-->
    <div id='modalPlaceHolder' class='modal fade in'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='modelContent'></div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>
</html>